/* Général */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #f1f1f1;
}

/* Nav */
.navbar-brand {
    font-size: 25px;
    font-family: 'Kaushan Script';
}

#navbarCollapse a {
    font-size: 20px;
}

/* Header */
header {
    background: url(../images/headerImg.jpg);
    background-size: cover;
    height: 80vh;
}

.text-intro {
    padding-top: 270px;
    padding-bottom: 200px;
}

.preTxt {
    font-size: 40px;
    
}

h1 {
    font-size: 80px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
}

/* Trois Icônes */

#home-icons {
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 1px solid #000;
}